.article{
  margin-bottom: 240px;

  &__box{
    display: flex;
    flex-direction: row;
    align-items: baseline;

    &--head{
      display: flex;
      flex-direction: column;
      margin-right: 90px;

      h3{
        font-weight: 800;
        font-size: 48px;
        line-height: 50px;
        margin-bottom: 24px;
      }
      p{
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.32em;
        text-transform: uppercase;
        margin-bottom: 40px;
      }

      @media screen and (max-width: 1200px){
        h3{
          font-size: 24px;
          line-height: 30px;
          margin-bottom: 8px;
        }
        p{
          font-size: 12px;
          line-height: 20px;
          margin-bottom: 32px;
        }
      }

      &--btns{
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;

        button{
          cursor: pointer;
          border: none;
          background-color: transparent;

          &:not(:last-child){
            margin-right: 50px;
          }
        }
      }
      @media screen and (max-width: 1200px){
        &--btns{
          display: none;
        }
      }

    }

    @media screen and (max-width: 1600px){
      &--head{
        margin-right: 40px;
      }
    }

    &--desc{
      background-color: #fff;
      padding: 48px 36px;
      width: 310px;
      height: auto;

      &:not(:last-child){
        margin-right: 36px;
      }

      p{
        font-size: 20px;
        line-height: 28px;
        color: #222;
        margin-bottom: 16px;
      }

      h3{
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
      }

      @media screen and (max-width: 1600px){
        h3{
          font-size: 18px;
          line-height: 22px;
        }

        p{
          font-size: 16px;
          line-height: 22px;
        }
      }

    }

    @media screen and (max-width: 1600px){
      &--desc{
        width: 260px;
        padding: 40px 30px;
      }
    }

    @media screen and (max-width: 1200px){
      &--desc{
        padding: 16px;
      }
    }
  }

  @media screen and (max-width: 1200px){
    &__box{
      flex-direction: column;
    }
  }
}


.article__container{
    padding: 0 200px;
}

@media screen and (max-width: 1600px){
  .article__container{
    padding: 0 100px;
  }
}

@media screen and (max-width: 1200px){
  .article{
    margin-bottom: 100px;
  }
  .article__container{
    padding: 0 50px;
  }
}

@media screen and (max-width: 600px){
  .article__container{
    padding: 0 30px;
  }
}

