<div class="about">
  <div class="container">
    <div class="about__body">
      <h2 class="about__body--title">О Case Nova</h2>
      <p class="about__body--text">Case Nova основана в 2016 году и уже на протяжении нескольких лет мы занимаемся медицинской косметологией, гарантируя вам самый качественный результат.</p>
      <img src="img/about/hero-img.png" alt="about">
      <div class="about__body--block">
        <div class="about__body--block--item">
          <h4>11 лет</h4>
          <p>Наводим красоту на лицах людей</p>
        </div>
        <div class="about__body--block--item">
          <h4>28 врачей</h4>
          <p>Трудятся над вашими  лицами и телами</p>
        </div>
        <div class="about__body--block--item">
          <h4>14 000 клиентов</h4>
          <p>Взглянули на себя в зеркало, и остались счастливы</p>
        </div>
      </div>
    </div>
  </div>
</div>
