<div class="machinery alma-q">
  <div class="machinery__head">
    <p class="machinery__head--text">Alma Lasers</p>
    <h2 class="machinery__head--title">Alma-Q</h2>
    <div class="machinery__head--img">
      <img src="img/equipment/2.png" alt="square"/>
    </div>
  </div>
  <div class="machinery__body">
    <h3 class="machinery__body--title">Омоло   n жение и устранение пигментации ALMA-Q</h3>
    <p class="machinery__body--text">Мы регулярно предлагаем вам лучшие бьюти-новинки – и сегодня представляем технологию от Alma Lasers, которая создана для того, чтобы вы всегда выглядели прекрасно! Омолаживающий эффект лазера ALMA-Q (АЛМА-КЬЮ) наступает мгновенно – это подтверждают клинические испытания и опыт врачей-косметологов во всем мире. </p>
    <h3 class="machinery__body--title">Ключевые особенности ALMA-Q</h3>
    <div class="machinery__body--block">
      <div class="machinery__body--block--item">
        <img src="img/equipment/square.png" alt="square">
        <p>ALMA-Q – одна из наиболее эффективных платформ для устранения морщин, лечения пигментации и устранения сосудистых дефектов.</p>
      </div>
      <div class="machinery__body--block--item">
        <img src="img/equipment/square.png" alt="square">
        <p>Обновление кожи и устранение пигментации происходит фотоакустическим способом, без повреждения дермы.</p>
      </div>
      <div class="machinery__body--block--item">
        <img src="img/equipment/square.png" alt="square">
        <p>4 варианта длины волны позволяют полностью адаптировать методику под потребности пациента.</p>
      </div>
      <div class="machinery__body--block--item">
        <img src="img/equipment/square.png" alt="square">
        <p>За счет высокой мощности аппарата вам потребуется меньше процедур, чем обычно.</p>
      </div>
    </div>
    <h3 class="machinery__body--title">Посмотрите ALMA-Q в работе</h3>
    <div class="machinery__body--video">
      <img src="img/services/4.png" alt="videoImg">
    </div>
    <h3 class="machinery__body--title">Технология одиночного и двойного импульсов</h3>
    <p class="machinery__body--text">ALMA-Q реализует фотоакустический эффект лазерной волны на целевой участок посредством ультракоротких наносекундных импульсов высокой интенсивности. Под влиянием этого воздействия частицы пигмента выборочно фрагментируются и вытесняются фагоцитами.Данный метод создает управляемые повреждения кожи посредством механического воздействия активной модуляции добротности – уникального механизма воздействия, с помощью которого достигаются оптимальные результаты в решении различных проблем, при этом не возникает теплового повреждения или коагуляции соседних тканей.
      ALMA-Q работает в стандартном и квази-длинноимпульсном режимах, осуществляя эмиссию лазерной энергии по технологии «плоского профиля луча».При этом пиковая энергия в импульсе может достигать до 2 Дж. Плоский профиль луча помогает даже на максимальной пиковой мощности равномерно распределять энергию в рабочем пятне и минимизировать риски повреждения эпидермиса.Режимы одиночных и сдвоенных импульсов доступны для всех длин волн Q-switch Nd:YAG лазера платформы ALMA-Q, в том числе 1064 нм, 532 нм, 585 нм и 650 нм.</p>
    <div class="machinery__body--box">
      <img src="img/services/dermotology.png" alt="dermotology">
      <div class="machinery__body--box--desc">
        <p>До лечения</p>
        <p>После лечения</p>
      </div>
    </div>
    <h3 class="machinery__body--title">Какие манипулы используются в работе</h3>
    <div class="manipula_box">
      <div class="machinery__body--manipula">
        <img src="img/equipment/manipula1.png" alt="manipula">
        <div class="machinery__body--manipula--desc">
          <h4>Манипула RV 25</h4>
          <p>Манипула способна обрабатывать пятна 7 разных размеров: от 1 до 7 мм, достигая различной степени и глубины участков с нарушенной пигментацией и различных типов татуировок</p>
        </div>
      </div>
      <div class="machinery__body--manipula">
        <img src="img/equipment/manipula2.png" alt="manipula">
        <div class="machinery__body--manipula--desc">
          <h4>Манипула RV 90</h4>
          <p>Манипула с длинным импульсом (VasQular Long Pulse 1064 нм) - предназначена для удаления поверхностных сосудистых поражений, ангиэктазий, телеангиэктазий, гемангиом и глубоких вен путем фотоселективной лазерной коагуляции</p>
        </div>
      </div>
      <div class="machinery__body--manipula">
        <img src="img/equipment/manipula3.png" alt="manipula">
        <div class="machinery__body--manipula--desc">
          <h4>Манипула RV 60 </h4>
          <p>Манипула Spectrum Y на красителе с желтым спектром (585 нм) особенно эффективна при удалении синего цвета, а манипула Spectrum R (Red) 650 нм на красителе с красным спектром – при удалении зеленого и сине-зеленого цветов.</p>
        </div>
      </div>
    </div>
    <h3 class="machinery__body--title">Какие проблемы решает аппарат?</h3>
    <h4 class="machinery__body--subtitle">Удаление пигментации</h4>
    <p class="machinery__body--text">ALMA-Q позволяет работать даже со сложными видами пигментации, в том числе с мелазмой. Пигмент может залегать на разной глубине, но для инновационной платформы это не проблема. </p>
    <h4 class="machinery__body--subtitle">Омоложение кожи</h4>
    <p class="machinery__body--text">В новом аппарате представлены сразу 2 anti-age режима! Короткие, но мощные лазерные импульсы обеспечивают фракционное омоложение и мгновенно разглаживают морщины. Длинноимпульсный неодимовый лазер идеально подходит для лифтинга возрастной кожи. </p>
    <h4 class="machinery__body--subtitle">Удаление сосудов</h4>
    <p class="machinery__body--text">Длинноимпульсный лазер действует на длине волны 1064 нм и работает даже с глубокими сосудистыми патологиями. Высокоточная технология точечно нагревает патологическую ветку сосуда, вызывает коагуляцию и прекращает ток крови по капилляру. Внешне это выражается в том, что коже возвращается нежный здоровый оттенок без эффекта покраснений и сосудистой сетки. </p>
  </div>
</div>
