<div class="article">
  <div class="article__container">
    <div class=" ">
      <div class="article__box--head">
        <h3>Не просто
          слова</h3>
        <p>чем так довольны
          наши гости</p>
        <div class="article__box--head--btns">
          <button class="prev-btn">
            <img src="img/left.png" alt="left"/>
          </button>
          <button class="next-btn">
            <img src="img/right.png" alt="right"/>
          </button>
        </div>
      </div>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="article__box--desc">
              <p>Это превосходный центр! Девочки, я просто в восторге, такого индивидуального подхода с учетом всех моих прихотей я не получала нигде! Однозначно рекомендую всем своим подругам ;) Спасибо вам огромное!</p>
              <h3>Марина</h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="article__box--desc">
              <p>Случайно зашла на ваш сайт, и увидев насколько он шикарен, подумала что и центр должен соответствовать. Ну что могу сказать, я не ошиблась, это действительно отличный центр эстетической косметологии, удалила три бородавки быстро и безболезненно , и даже следов не осталось. Ребята молодцы!</p>
              <h3>Виктория</h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="article__box--desc">
              <p>Хожу в этот салон более года. Впечатление хорошее. Всегда чисто и спокойно. Очень внимательные и вежливые администраторы.</p>
              <h3>Александра</h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="article__box--desc">
              <p>Это превосходный центр! Девочки, я просто в восторге, такого индивидуального подхода с учетом всех моих прихотей я не получала нигде! Однозначно рекомендую всем своим подругам ;) Спасибо вам огромное!</p>
              <h3>Марина</h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="article__box--desc">
              <p>Случайно зашла на ваш сайт, и увидев насколько он шикарен, подумала что и центр должен соответствовать. Ну что могу сказать, я не ошиблась, это действительно отличный центр эстетической косметологии, удалила три бородавки быстро и безболезненно , и даже следов не осталось. Ребята молодцы!</p>
              <h3>Виктория</h3>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="article__box--desc">
              <p>Хожу в этот салон более года. Впечатление хорошее. Всегда чисто и спокойно. Очень внимательные и вежливые администраторы.</p>
              <h3>Александра</h3>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

