<div class="blog">
  <div class="container">
    <div class="blog__body">
      <h2 class="blog__body--title">Блог</h2>
      <p class="blog__body--text">Профессионализм наших врачей и теплое человеческое отношение создают все условия для качественного лечения.</p>
      <div class="blog__body--block">
<!--        <div class="blog__body&#45;&#45;block&#45;&#45;row">-->
<!--          <div class="blog__body&#45;&#45;block&#45;&#45;row&#45;&#45;item">-->
<!--            <div data-eq="actress" class="blog__body&#45;&#45;block&#45;&#45;row&#45;&#45;item&#45;&#45;article modal-article modalBtn">-->
<!--              <p>28 марта 2023</p>-->
<!--              <h3>Блиц со Скарлетт Йоханссон: 12 быстрых вопросов для одной из самых красивых актрис Голливуда</h3>-->
<!--            </div>-->
<!--            <div data-eq="face" class="blog__body&#45;&#45;block&#45;&#45;row&#45;&#45;item&#45;&#45;article modal-article modalBtn">-->
<!--              <p>18 марта 2023</p>-->
<!--              <h3>Как ухаживать за лицом и сохранять кожу красивой?</h3>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="blog__body&#45;&#45;block&#45;&#45;row&#45;&#45;item">-->
<!--            <div data-eq="message" class="blog__body&#45;&#45;block&#45;&#45;row&#45;&#45;item&#45;&#45;article modal-article modalBtn">-->
<!--              <p>25 марта 2023</p>-->
<!--              <h3>Как массаж влияет на нервную систему</h3>-->
<!--            </div>-->
<!--            <div data-eq="day" class="blog__body&#45;&#45;block&#45;&#45;row&#45;&#45;item&#45;&#45;article modal-article modalBtn">-->
<!--              <p>19 марта 2023</p>-->
<!--              <h3>Как сделать свой день особенным? 5 секретов Марии Виноградовой</h3>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="blog__body&#45;&#45;block&#45;&#45;row">-->
<!--          <div class="blog__body&#45;&#45;block&#45;&#45;row&#45;&#45;img modal-article modalBtn">-->
<!--              <p>15 января 2023</p>-->
<!--              <h3>Какие масла защищают кожу от солнца?</h3>-->
<!--          </div>-->
<!--          <div class="blog__body&#45;&#45;block&#45;&#45;row&#45;&#45;img modal-article modalBtn">-->
<!--              <p>15 января 2023</p>-->
<!--              <h3>Какие масла защищают кожу от солнца?</h3>-->
<!--          </div>-->
<!--          <div class="blog__body&#45;&#45;block&#45;&#45;row&#45;&#45;img modal-article modalBtn">-->
<!--              <p>15 января 2023</p>-->
<!--              <h3>Какие масла защищают кожу от солнца?</h3>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="blog__body&#45;&#45;block&#45;&#45;row">-->
<!--          <div class="blog__body&#45;&#45;block&#45;&#45;row&#45;&#45;item">-->
<!--            <div class="blog__body&#45;&#45;block&#45;&#45;row&#45;&#45;item&#45;&#45;article modal-article modalBtn">-->
<!--              <p>28 марта 2023</p>-->
<!--              <h3>Блиц со Скарлетт Йоханссон: 12 быстрых вопросов для одной из самых красивых актрис Голливуда</h3>-->
<!--            </div>-->
<!--           <div class="blog__body&#45;&#45;block&#45;&#45;row&#45;&#45;item&#45;&#45;article modal-article modalBtn">-->
<!--              <p>18 марта 2023</p>-->
<!--             <h3>Как ухаживать за лицом и сохранять кожу красивой?</h3>-->
<!--           </div>-->
<!--          </div>-->
<!--          <div class="blog__body&#45;&#45;block&#45;&#45;row&#45;&#45;item">-->
<!--            <div class="blog__body&#45;&#45;block&#45;&#45;row&#45;&#45;item&#45;&#45;article modal-article modalBtn">-->
<!--              <p>25 марта 2023</p>-->
<!--              <h3>Как массаж влияет на нервную систему</h3>-->
<!--            </div>-->
<!--            <div class="blog__body&#45;&#45;block&#45;&#45;row&#45;&#45;item&#45;&#45;article modal-article modalBtn">-->
<!--              <p>19 марта 2023</p>-->
<!--              <h3>Как сделать свой день особенным? 5 секретов Марии Виноградовой</h3>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="blog__body&#45;&#45;block&#45;&#45;row">-->
<!--          <div class="blog__body&#45;&#45;block&#45;&#45;row&#45;&#45;img modal-article modalBtn">-->
<!--              <p>29 января 2023</p>-->
<!--              <h3>Транспарентная пудра: стоит ли использовать ее в макияже?</h3>-->
<!--          </div>-->
<!--          <div class="blog__body&#45;&#45;block&#45;&#45;row&#45;&#45;img modal-article modalBtn">-->
<!--              <p>15 января 2023</p>-->
<!--              <h3>Какие масла защищают кожу от солнца?</h3>-->
<!--          </div>-->
<!--          <div class="blog__body&#45;&#45;block&#45;&#45;row&#45;&#45;img modal-article modalBtn">-->
<!--              <p>10 января 2023</p>-->
<!--              <h3>6 предметов для красоты и здоровья, которые всегда есть в сумочке Жизель Бюндхен</h3>-->
<!--          </div>-->
<!--        </div>-->
      </div>
      <button class="blog__body--button">Показать еще</button>
    </div>
  </div>
</div>
