<div class="dermotology cosmetology">
  <div class="dermotology__img">
    <img src="img/services/1.png" alt="dermotology">
  </div>
  <div class="dermotology__body">
    <h2 class="dermotology__body--title">Косметология</h2>
    <p class="dermotology__body--text">Дерматология - это деликатное медицинское направление, которое специализируется на диагностике и лечении болезней кожи, ногтей, волос и слизистых оболочек.</p>
    <h3 class="dermotology__body--subtitle">Лечение акне</h3>
    <p class="dermotology__body--parag">Заболевания кожи могут быть вызваны разными причинами и в большинстве случаев не представляют опасности для жизни (за исключением меланомы, рака кожи, который протекает крайне тяжело). Их особенностью является то, что они могут значительно портить внешний вид человека, сопровождаться зудом, шелушением, которые доставляют дискомфорт. Все это снижает качество жизни, поэтому большинство пациентов серьезно подходит к их лечению, предпочитая обращаться к лучшим специалистам.
      Пациентов принимают врачи высшей категории, кандидаты и доктора медицинских наук, сотрудники ведущих научных центров и профессора медицинских вузов. Врачи имеют большой практический опыт и используют передовые методики диагностики и лечения, в том числе европейские и американские протоколы.</p>
    <div class="dermotology__body--block">
      <img src="img/services/dermotology.png" alt="dermotology">
      <div class="dermotology__body--block--desc">
        <p>До лечения</p>
        <p>После лечения</p>
      </div>
    </div>
    <h3 class="dermotology__body--subtitle">Лечение пигментных пятен</h3>
    <p class="dermotology__body--parag">Мы регулярно предлагаем вам лучшие бьюти-новинки – и сегодня представляем технологию от Alma Lasers, которая создана для того, чтобы вы всегда выглядели прекрасно! Омолаживающий эффект лазера ALMA-Q (АЛМА-КЬЮ) наступает мгновенно – это подтверждают клинические испытания и опыт врачей-косметологов во всем мире.</p>
    <h4>Как проходит процедура лечения пигментных пятен, на примере использования аппарата Alma-Q</h4>
    <div class="dermotology__body--video">
      <img src="img/services/5.png" alt="dermotology">
    </div>
    <h4>Лечение гипергидроза и осмидроза</h4>
    <p class="dermotology__body--parag">Локальное воздействие на участок кожи с повышенным потоотделением обеспечивает блокаду проблемной зоны. Существует несколько способов такого лечения. Основная масса коммерчески доступных антиперспирантов абсолютно бесполезна при выраженном гипергидрозе. В этом случае могут помочь лишь антиперспиранты медицинского уровня.
      Эффективность антиперспиранта определяется концентрацией солей алюминия (чаще алюмохлоридов). На начальном этапе можно использовать спрей с 10-12% концентрацией, однако чаще всего применяются антиперспиранты с 15% концентрацией, а также с 20%, 25% и 30%. Более высокие концентрации в связи со значительным раздражающим действием на кожу используются очень редко.</p>
    <h4>Лечение осмидроза</h4>
    <p class="dermotology__body--parag">Необходимо соблюдать правила гигиены, постоянно менять одежду. Медики советуют перейти на здоровую и полезную пищу. При этом прописываются всевозможные водные процедуры с применением низкоконцентрированного раствора марганца. Очень часто в таких случаях используют средства, уменьшающие потообразование, либо выполняют ультразвуковое удаление. Данный метод лечения предусматривает деструкцию потовых желез ультразвуком. Если причина осмидроза сахарный диабет или пиелонефрит, показано лечение этих болезней. <br>
      Нужно соблюдать личную гигиену. Также целесообразно применять средства с антимикробным действием и антисептики. Следует своевременно лечить эндокринные заболевания. При необходимости придерживаться диеты. Не стоит заниматься самолечением, при возникновении симптоматики сразу же обращайтесь за квалифицированной медицинской помощью.</p>
    <div class="dermotology__body--prices">
      <div class="dermotology__body--prices--header">
        <h3 class="dermotology__body--subtitle">Цены на услуги</h3>
        <button>
          <img src="img/download.png" alt="download">
          <span>Скачать прайс-лист</span>
        </button>
      </div>
      <div class="dermotology__body--prices--body">
        <div class="dermotology__body--prices--body--head">
          <h5 class="dermotology__body--prices--body--desc--title">Услуга</h5>
          <h5  class="dermotology__body--prices--body--desc--cost">Цена</h5>
        </div>
        <div class="dermotology__body--prices--body--desc">
          <p class="dermotology__body--prices--body--desc--par">Омоложение ClearLift – участок 1 см²</p>
          <p class="dermotology__body--prices--body--desc--cost">от 85 000</p>
        </div>
        <div class="dermotology__body--prices--body--desc">
          <p class="dermotology__body--prices--body--desc--par">Омоложение ClearLift - переорбитальная зона</p>
          <p class="dermotology__body--prices--body--desc--cost">300 000</p>
        </div>
        <div class="dermotology__body--prices--body--desc">
          <p class="dermotology__body--prices--body--desc--par">Омоложение ClearLift – зона вокруг губ + носогубные складки + губоподбородочные складки</p>
          <p class="dermotology__body--prices--body--desc--cost"> 500 000</p>
        </div>
        <div class="dermotology__body--prices--body--desc  with-bg">
          <p class="dermotology__body--prices--body--desc--par">Карбоновый пилинг лица</p>
          <p class="dermotology__body--prices--body--desc--cost">520 000</p>
        </div>
        <div class="dermotology__body--prices--body--desc">
          <p class="dermotology__body--prices--body--desc--par">Nofilters - сочетание DYE - Clear - Lift лицо + шея</p>
          <p class="dermotology__body--prices--body--desc--cost">2 450 000</p>
        </div>
        <div class="dermotology__body--prices--body--desc">
          <p class="dermotology__body--prices--body--desc--par">Удаление пигментных пятен – участок 1 см²</p>
          <p class="dermotology__body--prices--body--desc--cost"> 120 000</p>
        </div>
        <div class="dermotology__body--prices--body--desc">
          <p class="dermotology__body--prices--body--desc--par">Фракционное CO2 - омоложение – лицо полностью</p>
          <p class="dermotology__body--prices--body--desc--cost">  3 400 000</p>
        </div>
      </div>
    </div>
  </div>
</div>


