<div class="doctors">
    <div class="container-lg">
      <div class="doctors__box">
        <div class="doctors__box--head">
          <h3>Наши врачи</h3>
          <p>Профессионалы
            своего дела</p>
          <div class="doctors__box--head--btns">
            <button class="prev-btn">
              <img src="img/left.png" alt="left"/>
            </button>
            <button class="next-btn">
              <img src="img/right.png" alt="left"/>
            </button>
          </div>
        </div>
        <div class="swiper">
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <div class="doctors__box--desc">
                <img src="img/about/s-1.png" alt="about"/>
                <h3>Виктория Новостройкина</h3>
                <p>Врач-дерматолог высшей категории</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="doctors__box--desc">
                <img src="img/about/s-2.png" alt="about"/>
                <h3>Маргарита Трихополова</h3>
                <p>Врач-дерматолог высшей категории</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="doctors__box--desc">
                <img src="img/about/s-3.png" alt="about"/>
                <h3>Екатерина Невашенко</h3>
                <p>Врач-дерматолог высшей категории</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="doctors__box--desc">
                <img src="img/about/s-1.png" alt="about"/>
                <h3>Виктория Новостройкина</h3>
                <p>Врач-дерматолог высшей категории</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="doctors__box--desc">
                <img src="img/about/s-2.png" alt="about"/>
                <h3>Маргарита Трихополова</h3>
                <p>Врач-дерматолог высшей категории</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="doctors__box--desc">
                <img src="img/about/s-3.png" alt="about"/>
                <h3>Екатерина Невашенко</h3>
                <p>Врач-дерматолог высшей категории</p>
              </div>
            </div>
          </div>

        </div>
      </div>


    </div>
</div>
