<div class="equipment">
  <div class="container-lg equipment__container">
    <div class="equipment__card">
      <!--   card      -->
      <div class="equipment__card-item card_item1">
        <!--   title card   -->
        <div class="equipment__card-item-info">
          <h3 class="equipment__card-item-info-title">Совершенное оборудование</h3>
          <p class="equipment__card-item-info-subtitle">быстрые и безопасные методы лечения</p>
        </div>
        <div class="equipment__card-item-box left border-radius-bottom-right">
          <img src="img/equipment/1.png" alt="">
          <div class="equipment__card-item-box-info left-info">
            <h4 class="equipment__card-item-box-info-title">Alma Lasers</h4>
            <p class="equipment__card-item-box-info-subtitle">Pixel CO</p>
          </div>
        </div>
      </div>
      <!--   card      -->
      <div class="equipment__card-item card_item2">
        <div class="equipment__card-item-box center border-radius-top-left">
          <img src="img/equipment/2.png" alt="">
          <div class="equipment__card-item-box-info center-info">
            <h4 class="equipment__card-item-box-info-title">Alma Lasers</h4>
            <p class="equipment__card-item-box-info-subtitle">Alma-Q</p>
          </div>
        </div>
      </div>
      <!--   card      -->
      <div class="equipment__card-item card_item3">
        <div class="equipment__card-item-box right">
          <img src="img/equipment/3.png" alt="">
          <div class="equipment__card-item-box-info right-info">
            <h4 class="equipment__card-item-box-info-title">Alma Lasers</h4>
            <p class="equipment__card-item-box-info-subtitle">Soprano <br> Titanium</p>
          </div>
        </div>
      </div>

    </div>

    <div class="equipment__desc">
        <h2 class="equipment__desc--title">
          Case Nova. <br>
          Возвращаем молодость
        </h2>
      <p class="equipment__desc--text">
        Case Nova основана в 2016 году и уже на протяжении нескольких лет мы занимаемся медицинской косметологией, гарантируя вам самый качественный результат.
      </p>
      <div class="equipment__desc--img">
        <img src="img/equipment/desc-img.png" alt="desc-img" />
      </div>
      <a href="about.html" class="equipment__desc--button">
        <p>больше <br>
          онас</p>
        <img src="img/equipment/next.png" alt="next">
      </a>
    </div>
  </div>
</div>
