<div class="equipments">
  <div class="container">
    <h2 class="equipments__title">Оборудование</h2>
    <p class="equipments__text">Профессионализм наших врачей и теплое человеческое отношение создают все условия для качественного лечения.</p>
    <!-- <div class="equipments__block">
      <div class="equipments__block--row">
        <img src="../img/equipment/img-1.png" alt="equipment"/>
        <img data-eq="alma-q"  class="modalBtn" src="../img/equipment/img-2.png" alt="equipment"/>
      </div>
      <div class="equipments__block--row">
        <img data-eq="genius" class="modalBtn" src="../img/equipment/img-3.png" alt="equipment"/>
        <img src="../img/equipment/img-4.png" alt="equipment"/>
        <img src="../img/equipment/img-5.png" alt="equipment"/>
      </div>
      <div class="equipments__block--row">
        <img data-eq="healite" class="modalBtn" src="../img/equipment/img-6.png" alt="equipment"/>
        <img src="../img/equipment/img-7.png" alt="equipment"/>
      </div>
      <div class="equipments__block--row">
        <img src="../img/equipment/img-8.png" alt="equipment"/>
        <img src="../img/equipment/img-9.png" alt="equipment"/>
        <img src="../img/equipment/img-10.png" alt="equipment"/>
      </div>
    </div>  -->

    <div class="equipments__block">

      <div class="equipments__block__row">
        <!-- <div class="equipments__block__card  fix-card-height">
          <div class="equipments__block__card--head mpt-small">
            <p>Ultraformer</p>
            <div class="wrap">
              <h2>Ultraformer MPT</h2>
            </div>
          </div>
          <div class="equipments__block__card--img">
            <img  src="../img/equipment/equipment-1.png" alt="">
          </div>
        </div>

        <div class="equipments__block__card modalBtn reversed leftradius" data-eq="alma-q">
          <div class="equipments__block__card--head">
            <p>Alma Lasers</p>
            <div class="wrap">
              <h2>Alma-Q</h2>
            </div>
          </div>
          <div class="equipments__block__card--img second-img">
            <img src="../img/equipment/equipment-2.png" alt="">
          </div>
        </div>


        <div class="equipments__block__card modalBtn reversed leftradius" data-eq="genius">
          <div class="equipments__block__card--head">
            <p>Lutronic</p>
            <div class="wrap">
              <h2>Genius</h2>
            </div>
          </div>
          <div class="equipments__block__card--img">
            <img src="../img/equipment/equipment-3.png" alt="">
          </div>
        </div>


        <div class="equipments__block__card reversed special fix-card-height">
          <div class="equipments__block__card--head">
            <p>Alma Lasers</p>
            <div class="wrap">
              <h2>Soprano <br>
               Titanium</h2>
            </div>
          </div>
          <div class="equipments__block__card--img">
            <img src="../img/equipment/equipment-4.png" alt="">
          </div>
        </div>

        <div class="equipments__block__card rightradiusbottom fix-card-height">
          <div class="equipments__block__card--head">
            <p>Alma Lasers</p>
            <div class="wrap">
              <h2>Pixel CO &sup2;</h2>
            </div>
          </div>
          <div class="equipments__block__card--img">
            <img src="../img/equipment/equipment-5.png" alt="">
          </div>
        </div>


        <div class="equipments__block__card reversed modalBtn short" data-eq="healite">
          <div class="equipments__block__card--head short_text">
            <p>Lutronic</p>
            <div class="wrap">
              <h2>Healite II</h2>
            </div>
          </div>
          <div class="equipments__block__card--img  img_short">
            <img src="../img/equipment/equipment-6.png" alt="">
          </div>
        </div>

        <div class="equipments__block__card rightradiustop">
          <div class="equipments__block__card--head">
            <p>Sciton</p>
            <div class="wrap"><h2>Joule</h2></div>
          </div>
          <div class="equipments__block__card--img eq-img7">
            <img src="../img/equipment/equipment-7.png" alt="">
          </div>
        </div>


        <div class="equipments__block__card  reversed leftradius">
          <div class="equipments__block__card--head">
            <p>Lutronic</p>
            <div class="wrap">
              <h2>Genius</h2>
            </div>
          </div>
          <div class="equipments__block__card--img">
            <img src="../img/equipment/equipment-8.png" alt="">
          </div>
        </div>

        <div class="equipments__block__card  reversed fix-card-height">
          <div class="equipments__block__card--head">
            <p>Fotofinder</p>
            <div class="wrap">
              <h2>Studio</h2>
            </div>
          </div>
          <div class="equipments__block__card--img">
            <img src="../img/equipment/equipment-9.png" alt="">
          </div>
        </div>

        <div class="equipments__block__card rightradiusbottom fix-card-height">
          <div class="equipments__block__card--head">
            <p>Alma Lasers</p>
            <div class="wrap">
              <h2>Pixel CO &sup2;</h2>
            </div>
          </div>
          <div class="equipments__block__card--img">
            <img src="../img/equipment/equipment-10.png" alt="">
          </div>
        </div> -->
      </div>

    </div>
  </div>
  </div>
