<footer class="footer">
  <div class="container">
    <div class="footer__box">
      <div class="footer__block">
        <div class="footer__block--nums">
          <a href="tel:+998-97-340-40-44">+998 97 340 40 44</a>
          <a href="tel:+998-97-340-40-44">+998 97 340 40 44</a>
        </div>
        <a href="#" class="footer__block--logo">
          <img src="img/new-footer-logo.svg" alt="logo">
        </a>
        <div class="footer__block--socials">
          <h4>Ташкент, проспект Амира Темура, 124В</h4>
          <div class="footer__block--socials--list">
            <a href="">
              <img src="img/facebook.png" alt="facebook">
            </a>
            <a href="">
              <img src="img/instagram.png" alt="instagram">
            </a>
            <a href="">
              <img src="img/telegram.png" alt="telegram">
            </a>
          </div>
        </div>
      </div>
      <div class="footer__inner">
        <a href="#" class="footer__inner--logo">
          <img src="img/new-footer-logo.svg" alt="logo">
        </a>
        <a href="#">Услуги</a>
        <a href="#">О клинике</a>
        <a href="#">Галерея</a>
        <a href="#">Блог</a>
        <a href="#">Контакты</a>
      </div>
    </div>
  </div>
</footer>

