<header class="header">
  <div class="container_lg header__container">
    <div id="menuBtn" class="menu__btn">
      <div class="menu__btn--burger"></div>
    </div>
    <a href="/" class="header__logo">
      <img src="img/new-nav-logo.svg" alt="">
    </a>
    <div id="headerMenu" class="header__menu">
      <ul class="list-reset header__menu-nav">
        <li class="header__menu-nav-list">
          <a class="header__menu-nav-list-link" href="services.html">
            Услуги
          </a>
        </li>
        <!-- <li class="header__menu-nav-list">
          <a class="header__menu-nav-list-link" href="">
            клиника <img src="img/arrow.svg" alt="">
          </a>
          <ul class="list-reset header__menu-nav-list-dropdown">
            <li class="list-reset header__menu-nav-list-dropdown-list">
              <a class="list-reset header__menu-nav-list-dropdown-list-link" href="about.html">
                О клинике
              </a>
            </li>
            <li class="list-reset header__menu-nav-list-dropdown-list">
              <a class="list-reset header__menu-nav-list-dropdown-list-link" href="equipm.html">
                Оборудование
              </a>
            </li>
            <li class="list-reset header__menu-nav-list-dropdown-list">
              <a class="list-reset header__menu-nav-list-dropdown-list-link" href="gallery.html">
                Галерея</a>
            </li>
            <li class="list-reset header__menu-nav-list-dropdown-list">
              <a class="list-reset header__menu-nav-list-dropdown-list-link" href="reviews.html">
                Отзывы
              </a>
            </li>
          </ul>
        </li> -->
        <li class="header__menu-nav-list">
          <a class="header__menu-nav-list-link" href="about.html">
            О клинике
          </a>
        </li>
        <li class="header__menu-nav-list">
          <a class="header__menu-nav-list-link" href="equipm.html">
            Оборудование
          </a>
        </li>
        <li class="header__menu-nav-list">
          <a class="header__menu-nav-list-link" href="gallery.html">
            Галерея
          </a>
        </li>
        <li class="header__menu-nav-list">
          <a class="header__menu-nav-list-link" href="blog.html">
            Блог
          </a>
        </li>
        <li class="header__menu-nav-list">
          <a class="header__menu-nav-list-link" href="contacts.html">
            Контакты
          </a>
        </li>
      </ul>
    </div>
    <div class="header__info">
      <ul class="list-reset header__info-nav">
        <li class="header__info-nav-list">
          <a class="header__info-nav-list-link" href="">
            Рус <img src="img/arrow.svg" alt="">
          </a>
          <ul class="list-reset header__info-nav-list-dropdown">
            <li class="list-reset header__info-nav-list-dropdown-list">
              <a class="list-reset header__info-nav-list-dropdown-list-link" href="#">
                Узб
              </a>
            </li>
            <li class="list-reset header__info-nav-list-dropdown-list">
              <a class="list-reset header__info-nav-list-dropdown-list-link" href="#">
                eng
              </a>
            </li>
          </ul>
        </li>
        <li class="header__info-nav-phone">
          <a class="header__info-nav-phone-link" href="tel:998903908080">
            +998 90 390-80-80
            <span class="header__info-nav-phone-link-text">Заказать звонок</span>
          </a>
        </li>
      </ul>
    </div>
    <a href="tel:998903908080" class="nav__btn">
      <img src="img/nav-img.png" alt="nav-img">
    </a>
  </div>
</header>
