<div class="hero">
  <div class="container-lg hero__container">
    <div class="hero__content">
      <div class="hero__content-info">
        <div class="hero__content-info-img">
          <img src="../img/new-hero-img.svg" alt="">
        </div>
        <a href="#services" class="hero__content-info-text">
          <p class="hero__content-info-text-title">открой дивный мир Case Nova</p>
          <img src="img/arrow-down.svg" alt="">
        </a>
      </div>
    </div>
  </div>
  <div class="hero__circle">
      <div class="hero__circle-img">
        <img src="img/hero-circle-img.png" alt="">
      </div>
  </div>
</div>
