 <div class="message">
  <div class="message__img">
    <img src="img/blog/blog.png" alt="blog"/>
  </div>
  <div class="message__body">
    <h2 class="message__body--title">Как массаж влияет на нервную систему</h2>
    <p class="message__body--data">25 марта 2023</p>
    <h3 class="message__body--subtitle">Эффективный и приятный способ снять напряжение и стресс</h3>
    <p class="message__body--text">Тот, кто хоть раз был на профессиональном массаже, отлично знает, как всего за час можно эффективно перезагрузить не только тело, но и ум. Тревожные мысли исчезают вместе с зажимами и блоками в теле. Мы попросили специалиста студии массажа LiteBody17 рассказать подробнее, как массаж помогает бороться со стрессом.
      Массаж, каким принято его считать, за счет рук специалиста оказывает непосредственное влияние на нервную систему человека. Когда массажист касается руками тела человека, в первую очередь оказывается влияние на нервные рецепторы, раздражая их по всему телу (а всего в организме взрослого человека около 75 километров нервов). Эти рецепторы связаны между собой и образуют нервную систему. Поэтому проходя руками по телу, происходит целый процесс по превращению механической энергии в энергию нервного возбуждения.
      А на сколько мы знаем из анатомии, мышцы способны сокращаться под воздействием нервной системы, а они, в свою очередь, оказывают прямое воздействие на сосуды и работу внутренних органов. То есть массаж прямым образом активизирует работу нервной системы, тем самым помогая восстановиться после стресса. Даже в том случае, если стресс становится неотъемлемой частью организма, то есть переходит в хроническую стадию, когда уровень гормонов повышается, массаж способен избавить от этого состояния.</p>
    <img src="img/blog/blog2.png" alt="blog"/>
    <p class="message__body--text">Для антистресс-эффекта просто «поглаживаний» недостаточно, важно, чтобы массаж делал профессионал. Сеанс массажа придает жизненный тонус, стабилизирует артериальное давление (также может быть повышенным при стрессе и тревоге), избавиться от изжоги и мигрени, стабилизировать сон и пищеварение.
      В периоды стресса и тревоги лучше всего делать массаж 1-2 раза в неделю для поддержания нормального состояния организма. В этом как раз могут помочь релаксирующий и лечебный массажи, которые помимо вышесказанного, также способны восстановить состояние сердечно-сосудистой системы, работу внутренних органов, эмоционального и гормонального фона человека.</p>
    <h3 class="message__body--subtitle">Советы профессионалов Case Nova</h3>
    <p class="message__body--text">Если говорить про время проведения массажа, то по сути его можно делать в любое время, соблюдая главное правило для придания эффективности массажу и снятию стресса и тревоги — на сеанс необходимо приходить голодными, либо через 2 часа после приема пищи. А после массажа 10 минут находиться в состоянии покоя.
      Таким образом, получается, что массаж способен не только восстанавливать нервную систему, но и стимулировать работу внутренних органов, что положительно отражается на здоровье всего организма.</p>
  </div>
</div>
