<div   id="mainModal2" class="modal_bg equipment2">
  <button id="closeModal" class="modal_btn">
    <img src="../img/close.png" alt="close"/>
  </button>
  <div class="modal_main">
    <div class="modal_body">
      <div class="machinery__body">
        <h3 class="machinery__body--title"> </h3>
      </div>
    </div>
    <div class="modal_footer">
      <div class="modal_footer__block">
        <h2>Если возникли вопросы</h2>
        <p>интересоваться — это нормально, поэтому мы с радостью <br> поможем вам найти ответы на любые вопросы</p>
        <form>
          <div class="form__input-group">
            <input required class="form__input" type="text">
            <label class="form__input-label">Ваше имя</label>
          </div>

          <div class="form__input-group">
            <input required class="form__input" type="text">
            <label class="form__input-label">Номер телефона</label>
          </div>
          <button type="submit">Заказать обратный звонок</button>
        </form>
      </div>
    </div>
  </div>
</div>
