<div class="question">
  <div class="container__lg">
    <div class="question__block">
      <h2>Если возникли вопросы</h2>
      <p>интересоваться — это нормально, поэтому мы с радостью <br> поможем вам найти ответы на любые вопросы</p>
      <form>
        <div class="form__input-group">
          <input required class="form__input" type="text">
          <label class="form__input-label">Ваше имя</label>
        </div>

        <div class="form__input-group">
          <input required class="form__input" type="text">
          <label class="form__input-label">Номер телефона</label>
        </div>
        <button type="submit">Заказать обратный звонок</button>
      </form>
    </div>
  </div>
</div>
