<div class="questions">
  <div class="container__lg">
    <div class="questions__block">
      <h2>Если возникли вопросы</h2>
      <p>интересоваться — это нормально, поэтому мы с радостью <br> поможем вам найти ответы на любые вопросы</p>
      <form>
        <div class="form__input-group">
          <input required class="form__input" type="text">
          <label class="form__input-label">Ваше имя</label>
        </div>

        <div class="form__input-group">
          <input required class="form__input" type="text">
          <label class="form__input-label">Номер телефона</label>
        </div>
        <button type="submit">Заказать обратный звонок</button>
      </form>
    </div>
    <div class="questions__article">
       <h2 class="questions__article--title">Статьи о красоте и здоровье</h2>
      <div class="questions__article--desc">
        <p>25 марта 2023</p>
        <h3>Смыть с себя усталость: 8 гелей для душа, с которыми легко расслабиться</h3>
      </div>
      <div class="questions__article--desc desc-small">
        <p>25 марта 2023</p>
        <h3>Как сделать свой день особенным? 5 секретов Марии Виноградовой</h3>
      </div>
      <a href="blog.html" class="questions__article--button">
        <p>больше <br>
          онас</p>
        <img src="img/equipment/next.png" alt="next">
      </a>
    </div>
  </div>
</div>
