<div class="reviews">
  <div class="container">
    <div class="reviews__block">
      <h2 class="reviews__block--title">Отзывы</h2>
      <p class="reviews__block--text">Профессионализм наших врачей и теплое человеческое отношение создают все условия для качественного лечения.</p>
      <div class="reviews__block--box">
        <div class="reviews__block--box--column">
          <div class="reviews__block--box--column--article">
            <p>Это превосходный центр! Девочки, я просто в восторге, такого индивидуального подхода с учетом всех моих прихотей я не получала нигде! Однозначно рекомендую всем своим подругам ;) Спасибо вам огромное!</p>
            <h3>Марина</h3>
          </div>
          <div class="reviews__block--box--column--article">
            <p>Хожу в этот салон более года. Впечатление хорошее. Всегда чисто и спокойно. Очень внимательные и вежливые администраторы.</p>
            <h3>Александра</h3>
          </div>
          <div class="reviews__block--box--column--article">
            <p>Сказать, что я довольна работой мастера и общим впечатление от посещения салона - это ничего не сказать! В салоне светло, уютно, чисто, божественный каппучино с густой молочной пенкой (такой не в любом кафе подают) и вкусными шоколадными конфетками, уютные диванчики с мягкими подушечками, большие зеркала, много света, искренние улыбки персонала.</p>
            <h3>Марина</h3>
          </div>
          <div class="reviews__block--box--column--article">
            <p>Атмосфера уютная и комфортная, чашечка капучино в такой мороз сразу согрела душу и расслабила. Записывалась на окрашивание к мастеру Антону. Несмотря на мои сильно отросшие корни и седину, цвет подобрал точь в точь. Всё получилось ровненько. Предложил полечить волосы - в итоге гладкие, блестящие. Как надо!!! Спасибо за всё!</p>
            <h3>Александра</h3>
          </div>
        </div>
        <div class="reviews__block--box--column">
          <div class="reviews__block--box--column--article">
            <p>Случайно зашла на ваш сайт, и увидев насколько он шикарен, подумала что и центр должен соответствовать. Ну что могу сказать, я не ошиблась, это действительно отличный центр эстетической косметологии, удалила три бородавки быстро и безболезненно , и даже следов не осталось. Ребята молодцы!</p>
            <h3>Виктория</h3>
          </div>
          <div class="reviews__block--box--column--article">
            <p>За полчаса сделали мне вечерний макияж. Выглядела потрясающе. Визажист хорошо поработала над моей красотой. Понравилось как она отобразила мои глаза, взгляд выглядел таинственно и зачаровано. Как бы мне научиться правильно наносить макияж, для меня это очень сложно, а очень надо. Но пока визажист салона красоты меня очень устраивает.</p>
            <h3>Евгения</h3>
          </div>
          <div class="reviews__block--box--column--article">
            <p>Душевный и приятный человек, умеет найти подход к клиенту, создать настроение, обладатель тонкого юмора. Вся эта обстановка и отношение мастера создало у меня ощущение, что я пришла в гости, где давно ждали именно меня.</p>
            <h3>Виктория</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
