<div class="service">
  <div class="container">
    <h2 class="service__title">Услуги</h2>
    <p class="service__text">Профессионализм наших врачей и теплое человеческое отношение создают все условия для качественного лечения.</p>
    <div class="service__block services__btn">
<!--      <div class="services__row modalBtn">-->
<!--        <div class="service__block&#45;&#45;img corner-left-top">-->
<!--          <img src="img/services/1.png" alt="next">-->
<!--        </div>-->
<!--        <div  class="service__block&#45;&#45;desc  corner-right-bottom">-->
<!--          <h3>Косметология</h3>-->
<!--          <ul>-->
<!--            <li>-->
<!--              <img src="img/services/next.png" alt="next">-->
<!--              <p>Процедуры по уходу за кожей лица</p>-->
<!--            </li>-->
<!--            <li>-->
<!--              <img src="img/services/next.png" alt="next">-->
<!--              <p>Инъекционная косметология</p>-->
<!--            </li>-->
<!--            <li>-->
<!--              <img src="img/services/next.png" alt="next">-->
<!--              <p>Контурная пластика лица</p>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="services__row modalBtn">-->
<!--        <div class="service__block&#45;&#45;img">-->
<!--          <img src="img/services/3.png" alt="next">-->
<!--        </div>-->
<!--        <div  class="service__block&#45;&#45;desc">-->
<!--          <h3>Дерматология</h3>-->
<!--          <ul>-->
<!--            <li>-->
<!--              <img src="img/services/next.png" alt="next">-->
<!--              <p>Лечение акне</p>-->
<!--            </li>-->
<!--            <li>-->
<!--              <img src="img/services/next.png" alt="next">-->
<!--              <p>Лечение пигментных пятен</p>-->
<!--            </li>-->
<!--            <li>-->
<!--              <img src="img/services/next.png" alt="next">-->
<!--              <p>Лечение гипергидроза и осмидроза</p>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="services__row modalBtn">-->
<!--        <div class="service__block&#45;&#45;img corner-left-bottom">-->
<!--          <img src="img/services/2.png" alt="next">-->
<!--        </div>-->
<!--        <div class="service__block&#45;&#45;desc">-->
<!--          <h3>Лазерная дермато-косметология</h3>-->
<!--          <ul>-->
<!--            <li>-->
<!--              <img src="img/services/next.png" alt="next">-->
<!--              <p>Фототерапия кожи</p>-->
<!--            </li>-->
<!--            <li>-->
<!--              <img src="img/services/next.png" alt="next">-->
<!--              <p>Фототерапия акне</p>-->
<!--            </li>-->
<!--            <li>-->
<!--              <img src="img/services/next.png" alt="next">-->
<!--              <p>Удаление новообразований и рубцов</p>-->
<!--            </li>-->
<!--            <li>-->
<!--              <img src="img/services/next.png" alt="next">-->
<!--              <p>Лечение грибкового поражения ногтей</p>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="services__row modalBtn">-->
<!--        <div class="service__block&#45;&#45;img corner-right-top">-->
<!--          <img src="img/services/5.png" alt="next">-->
<!--        </div>-->
<!--        <div class="service__block&#45;&#45;desc">-->
<!--          <h3>Аппаратная косметология</h3>-->
<!--          <ul>-->
<!--            <li>-->
<!--              <img src="img/services/next.png" alt="next">-->
<!--              <p>Аппаратный лифтинг лица</p>-->
<!--            </li>-->
<!--            <li>-->
<!--              <img src="img/services/next.png" alt="next">-->
<!--              <p>Фототерапия кожи</p>-->
<!--            </li>-->
<!--            <li>-->
<!--              <img src="img/services/next.png" alt="next">-->
<!--              <p>Лазерная эпиляция</p>-->
<!--            </li>-->
<!--            <li>-->
<!--              <img src="img/services/next.png" alt="next">-->
<!--              <p>Фотоэпиляция</p>-->
<!--            </li>-->
<!--            <li>-->
<!--              <img src="img/services/next.png" alt="next">-->
<!--              <p>Неинвазивное лазерное омоложение</p>-->
<!--            </li>-->
<!--            <li>-->
<!--              <img src="img/services/next.png" alt="next">-->
<!--              <p>Лазерная и микроплазменная шлифовка</p>-->
<!--            </li>-->
<!--            <li>-->
<!--              <img src="img/services/next.png" alt="next">-->
<!--              <p>Удаление тату</p>-->
<!--            </li>-->
<!--            <li>-->
<!--              <img src="img/services/next.png" alt="next">-->
<!--              <p>Лазерная коагуляция телеангиоэктазий</p>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="services__row modalBtn">-->
<!--        <div class="service__block&#45;&#45;img">-->
<!--          <img src="img/services/4.png" alt="next">-->
<!--        </div>-->
<!--        <div class="service__block&#45;&#45;desc  corner-right-bottom">-->
<!--          <h3>Трихология</h3>-->
<!--          <ul>-->
<!--            <li>-->
<!--              <img src="img/services/next.png" alt="next">-->
<!--              <p>Лечение аллопеций и выпадения волос</p>-->
<!--            </li>-->
<!--            <li>-->
<!--              <img src="img/services/next.png" alt="next">-->
<!--              <p>Пересадка волос методом FUE</p>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="services__row modalBtn">-->
<!--        <div class="service__block&#45;&#45;img corner-right-top">-->
<!--          <img src="img/services/7.png" alt="next">-->
<!--        </div>-->
<!--        <div class="service__block&#45;&#45;desc">-->
<!--          <h3>Эстетическая гинекология</h3>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="services__row modalBtn">-->
<!--        <div class="service__block&#45;&#45;img corner-left-top">-->
<!--          <img src="img/services/6.png" alt="next">-->
<!--        </div>-->
<!--        <div class="service__block&#45;&#45;desc">-->
<!--          <h3>Коррекция фигуры</h3>-->
<!--        </div>-->
<!--      </div>-->

    </div>

  </div>
</div>
