<div id="services" class="services">
  <div class="container-lg services__container">
    <div class="services__box">
      <div class="services__box-left">

        <div class="services__box-left-box border-radius-top-left">
          <img src="img/services/1.png" alt="">
          <p class="services__box-left-box-desc">Косметология</p>
        </div>

        <div class="services__box-left-box">
          <img src="img/services/2.png" alt="">
          <p class="services__box-left-box-desc">Аппаратная дерматокосметология</p>
        </div>

        <div class="services__box-left-box">
          <img src="img/services/4.png" alt="">
          <p class="services__box-left-box-desc">Трихология</p>
        </div>

        <div class="services__box-left-box border-radius-bottom-left">
          <img src="img/services/6.png" alt="">
          <p class="services__box-left-box-desc">Коррекция
            фигуры</p>
        </div>

      </div>

      <div class="services__box-right">

        <div class="services__box-right-box">
          <h3 class="services__box-right-box-title">Ваша красота —
            наша забота</h3>
          <p class="services__box-right-box-subtitle">
            научный подход
            и опытные мастера
          </p>
        </div>

        <div class="services__box-right-box">
          <img src="img/services/3.png" alt="">
          <p class="services__box-right-box-desc">Дерматология</p>
        </div>

        <div class="services__box-right-box border-radius-top-right">
          <img src="img/services/5.png" alt="">
<!--          <p class="services__box-right-box-desc">Аппаратная-->
<!--            косметология</p>-->
        </div>

        <div class="services__box-right-box border-radius-top-right">
          <img src="img/services/7.png" alt="">
          <p class="services__box-right-box-desc">Эстетическая
            гинекология</p>
        </div>

        <div class="services__box-right-box">
          <a href="services.html" class="services__box-right-box-more">
            <p class="services__box-right-box-more-title">
              Смотреть все услуги
            </p>
            <img class="services__box-right-box-more-icon" src="img/arrow-down.svg" alt="">
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
