<div class="values">
    <div class="container">
      <h2 class="values__title">Наши ценности</h2>
      <div class="values__block">
        <div class="values__row">
          <div class="values__block--item">
            <img class="border-radius-top-left" src="img/services/1.png"/>
          </div>
          <div class="values__block--item">
            <h3>Гармония ухода и лечения</h3>
            <p>Помогаем устранить любые недостатки внешности и восстанавливаем внутренний баланс. Наша миссия — это единство красоты и здоровья, и ее с нами разделяют тысячи любимых клиентов.</p>
          </div>
        </div>
        <div class="values__row">
          <div class="values__block--item">
            <img class="border-radius-bottom-right" src="img/about/values-img.png"/>
          </div>
          <div class="values__block--item">
            <h3>Гармония ухода и лечения</h3>
            <p>Помогаем устранить любые недостатки внешности и восстанавливаем внутренний баланс. Наша миссия — это единство красоты и здоровья, и ее с нами разделяют тысячи любимых клиентов.</p>
          </div>
        </div>
        <div class="values__row">
          <div class="values__block--item">
            <img class="border-radius-top-right" src="img/services/5.png"/>
          </div>
          <div class="values__block--item">
            <h3>Гармония ухода и лечения</h3>
            <p>Помогаем устранить любые недостатки внешности и восстанавливаем внутренний баланс. Наша миссия — это единство красоты и здоровья, и ее с нами разделяют тысячи любимых клиентов.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-lg">
      <div class="values__love">
        <h3 class="values__love--title">Case Nova любит вас</h3>
        <p class="values__love--text">На огромной площади нашей клиники вы сможете получить полный спектр услуг: косметология, трихология, остеопатия, физиопроцедуры, SPA и даже гейзер и криосауна. От вас остается только расслабиться — мы сделаем все, чтобы вы чувствовали себя комфортно и преображались с каждой минутой, проведенной в Case Nova.</p>
      </div>
    </div>
</div>
