html {
  box-sizing: border-box;
}

body {
  font-family: 'Commissioner', sans-serif !important;
  background-color: #efe7dc;
  color: #222;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

.header_wrapper {
  background-image: url("../../img/bkg-waves.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 90% 100%;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}
.services-wrap{
  background-image: url('../img/services/bkg-waves.png');
  background-repeat: no-repeat;
  background-size: 100% 500px;
}
.footer-wrap{
  background-image: url('../img/questions/bg-img.png');
  background-repeat: no-repeat;
  background-size: 1000px 1040px;
  background-position: bottom left;
}
@media screen and (max-width: 768px){
  .footer-wrap{
    background-image: none;
  }
}
.gallery-wrap{
  background-image: url('../img/gallery/bg.png');
  background-repeat: no-repeat;
  background-size: 1000px 1040px;
  background-position: bottom left;
}
.page--ios .dis-scroll {
  position: relative;
}

.border-radius-top-left {
  border-radius: 200px 0 0 0;
}

.border-radius-top-right {
  border-radius: 0 200px 0 0;
}

.border-radius-bottom-right {
  border-radius: 0 0 200px 0;
}

.border-radius-bottom-left {
  border-radius: 0 0 0 200px;
}

@media only screen and (max-width: 1200px){
  .border-radius-top-left {
    border-radius: 80px 0 0 0;
  }

  .border-radius-top-right {
    border-radius: 0 80px 0 0;
  }

  .border-radius-bottom-right {
    border-radius: 0 0 80px 0;
  }

  .border-radius-bottom-left {
    border-radius: 0 0 0 80px;
  }

}


// Modal

.modal_bg{
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  overflow: hidden;
}

.modal_main{
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #fff;
  z-index: 110;
  transition: all 0.3s ease;
  overflow: auto;
}

.modal_footer{
  margin-bottom: 100px;
  padding: 20px 16px;

  @media screen and (max-width: 768px){
    form{
      width: 100%;
    }
  }

  &__block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../../img/questions/bkg.png');
    background-repeat: no-repeat;
    background-size: 396px 444px;
    background-position: bottom 190px right 430px;

    h2{
      font-weight: 800;
      font-size: 48px;
      line-height: 50px;
      color: #222222;
      margin-bottom: 62px;
    }

    p{
      font-weight: 300;
      font-size: 16px;
      line-height: 28px;
      text-align: center;
      letter-spacing: 0.32em;
      text-transform: uppercase;
      margin-bottom: 60px;
    }

    .form__input-group {
      width: 413px;
      position: relative;
      display: flex;
      margin-bottom: 20px;
    }

    .form__input {
      width: 100%;
      padding: 10px;
      border: none;
      border-bottom: 2px solid #000;
      transition: border 0.25s ease-in-out;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #222;
      outline: none;
      position: relative;
      z-index: 10;
      background-color: transparent;
    }

    .form__input-label {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 18px;
      line-height: 22px;
      color: #636363;
      text-align: center;
      transition: all 0.25s ease-in-out;
      z-index: 1;
    }

    .form__input:focus ~ .form__input-label,
    .form__input:valid ~ .form__input-label {
      top: 0;
      font-size: 14px;
      padding: 0 10px;
    }

    button{
      cursor: pointer;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      background: #222222;
      color: #fff;
      padding: 20px 79px;
      margin-top: 40px;
      outline: none;
    }

    @media screen and (max-width: 768px){

      h2{
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 32px;
      }
      p{
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 11px;
      }
      .form__input-group{
        width: 100%;
      }
      .form__input-label{
        font-size: 16px;
        line-height: 22px;
      }
      .form__input{
        font-size: 16px;
        line-height: 22px;
      }
      button{
        width: 100%;
        padding: 12px 0;
        font-size: 13px;
        line-height: 16px;
      }
    }

  }

  @media screen and (max-width: 1600px){
    &__block{
      background-position: bottom 190px right 250px;
    }
  }

  @media screen and (max-width: 1400px){
    &__block{
      background-position: bottom 190px right 150px;
    }
  }

}


.modal_btn{
  position: absolute;
  top: 35px;
  left: 35%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.modal_body_content{
  padding: 20px 72px;
}

.openModal{
  width: 100%;

  .modal_main{
    width: 60%;
  }

  @media only screen and (max-width: 1200px){
    .modal_main{
      width: 100%;
    }
  }

}

@media only screen and (max-width: 1200px){
  .modal_bg{
    top: 66px;
  }
  .modal_main{
    top: -2px;
  }
}

.noscroll{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.services_block__card--head{
  width: 100%;
  height: 640px;
  margin-top: 0;
  margin-bottom: 36px;

  img{
    width: 100%;
    height: 100%;
  }
}

.content_body{
  padding: 0 72px;
}



